#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/*---- Banner section styling ----*/

.banner-wrapper .h2-title {
  display: inline-block;
  margin: 0 auto;
  background: #fff;
  color: #f95540;
  padding: 0.25rem 0.5rem;
  line-height: 1.5rem;
  border-radius: 6px;
  box-shadow: -1px 1px 2px rgba(0,0,0,.27);
  border: 1px solid rgba(0,0,0,.04);
  text-align: center;
  font-size: 1.2rem;
  font-variation-settings: "wght" 500;
  
  
  background-image: linear-gradient( -90deg, #ff8200 0%, #ff8200 29%, #dfdfdf 67%, #fff 100% );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear(1.26 -14.45%, 0.96 26.62%) infinite;
  display: inline-block;
  font-size: 20px;
 }
 @keyframes textclip {
  to {
    background-position: 200% center;
  
}}

/* INITIAL ADDITIONS */

/*----------- Navbar formatting ------------*/
.navbar {
  position: fixed;
  width: 100% !important;
  background-color: transparent;
  background-image: url(./assets/navBkgrd.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 5;
  box-shadow: 0 5px 35px darkgrey;

}

.navbar-nav {
  font-size: 30px;
  }

.navbar-brand {
  padding-left: 50px;
  font-size: 30px !important;
}

.nav-link {
  color: white !important;
    text-decoration: none;
    margin: 0 70px 0 90px !important;
}

.nav-link:hover {
  color: black !important;
  font-weight: bold;

/* -----------  DragBox Component styling  --------------------------------*/

.main-dragbox-container {
  display: grid;
}

.dragbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--boxes);
  border-radius: 1rem;
  min-width: 750px;
  min-height: 250px;
  box-shadow: 5px 5px 5px 5px #4b4b4b;
}

.title {
  color: var(--neutral-text-dark);
  font-size: 1.2rem;
}

.Dashed-container {
  display: flexbox;
  align-content: ;
  min-width: 550px;
  min-height: 175px;
  background-image: linear-gradient(
      90deg,
      var(--neutral-text-dark) 50%,
      transparent 0
    ),
    linear-gradient(90deg, var(--neutral-text-dark) 50%, transparent 0),
    linear-gradient(180deg, var(--neutral-text-dark) 50%, transparent 0),
    linear-gradient(180deg, var(--neutral-text-dark) 50%, transparent 0);
  background-color: var(--boxes);
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 3px, 15px 3px, 3px 15px, 3px 15px;
}

