.overall-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/*---- Banner section styling ----*/

.banner-wrapper {
  margin-top: 4rem;
  text-align: center;
}

.banner-wrapper h1 span.cpr {
  display: block;
}

.banner-wrapper .h2-title {
  display: inline-block;
  margin: 0 auto;
  background: #fff;
  color: #f95540;
  padding: 0.25rem 0.5rem;
  line-height: 1.5rem;
  border-radius: 6px;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.27);
  border: 1px solid rgba(0, 0, 0, 0.04);
  text-align: center;
  font-size: 1.2rem;
  font-variation-settings: "wght" 500;

  background-image: linear-gradient(
    -90deg,
    #ff8200 0%,
    #ff8200 29%,
    #dfdfdf 67%,
    #fff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear(1.26 -14.45%, 0.96 26.62%) infinite;
  display: inline-block;
  font-size: 20px;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/*---- Features section styling ----*/

.features-title {
  font-size: 60px;
  /* text-align: left; */
  padding: 0.7rem;
  padding-top: revert-layer;
  /* background-color: #3d3c3a; */
  border-top: 1px solid var(--accent-orange);
  border-bottom: 1px solid var(--accent-orange);
  border-right: 10px solid var(--accent-orange);
  border-left: 1px solid var(--accent-orange);
  /* box-shadow: -1px 1px 2px rgba(215, 147, 11, 0.544); */
  display: inline-block;
  margin-bottom: 1rem;
  align-self: flex-start;
  border-radius: 6px;
  /* text-transform: uppercase; */
  /* font-weight: 800; */
  /* letter-spacing: .13rem; */
}
.features-container {
  width: 90%;
  max-width: 1100px;
  min-width: 500px;
}

.features-wrapper {
  margin-top: 8rem;
}

.feat-row {
  display: flex;
  flex-direction: row;
  background-color: var(--boxes);
  border-radius: 1rem;
  margin-top: 2rem;
}

.feat-text {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 18px 30px;
  font-size: 17px;
}

b {
  color: #ff8200;
}

p {
  margin-top: 5px !important;
}

.feat-img {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-content: center;
  padding-right: 25px;
}

.feat-img-mid {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-content: center;
  padding-left: 25px;
}

/* INITIAL ADDITIONS */

/*---------- Footer Styling ----------*/

footer {
  background: linear-gradient(to right, #444241, #323031);
}

.flex-column {
  width: 100%;
  height: 85px;
  margin-top: 6rem;
  background: linear-gradient(to right, #444241, #323031);
}

/*----------- Navbar formatting ------------*/
.navbar {
  position: fixed;
  width: 100% !important;
  background-color: transparent;
  background-image: url(./assets/navBkgrd.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 5;
  box-shadow: 0 5px 35px darkgrey;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav {
  font-size: 30px;
}

.navbar-brand {
  padding-left: 50px;
  font-size: 30px !important;
  font-weight: bolder;
  color: white !important;
}

.nav-link {
  color: white !important;
  text-decoration: none;
  margin-left: 50px;
}

.nav-link:hover {
  color: black !important;
  font-weight: bold;
}
/* -----------  DragBox Component styling  --------------------------------*/

.container {
  width: 100%;
  max-width: 700px;
}

.dragbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--boxes);
  border-radius: 1rem;
  min-height: 250px;
  box-shadow: 5px 5px 5px 5px #4b4b4b;
  margin-top: 8rem;
}

.title {
  color: var(--neutral-text-dark);
  font-size: 1.2rem;
}

.Dashed-container {
  width: 100%;
  max-width: 550px;
  margin: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 175px;
  background-image: linear-gradient(
      90deg,
      var(--neutral-text-dark) 50%,
      transparent 0
    ),
    linear-gradient(90deg, var(--neutral-text-dark) 50%, transparent 0),
    linear-gradient(180deg, var(--neutral-text-dark) 50%, transparent 0),
    linear-gradient(180deg, var(--neutral-text-dark) 50%, transparent 0);
  background-color: var(--boxes);
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 3px, 15px 3px, 3px 15px, 3px 15px;
}

.card {
  width: 100%;
  height: 100%;
}

/* -----------------------------------  COMPRESSOR SECTION STYLING --------------------------- */
.top-level-container {
  width: 100%;
  max-width: 1320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-container {
  width: 100%;
  max-width: 900px;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 3.2rem;
  margin-top: 2.5rem;
}

.download-container {
  width: 100%;
  max-width: 900px;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 3.2rem;
  box-shadow: 5px 5px 5px 5px #1d1d1d;
  margin-top: 5rem;
}

.compress-button {
  margin-top: 5rem;
}

.input-container {
  width: 100%;
  max-width: 400px;
}
