:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --neutral-text-light: #c9c9c9;
  --neutral-text-med: #949494;
  --neutral-text-dark: #717171;

  --neutral-light: #dfdfdf;
  --neutral-medium: #a2a2a2;
  --neutral-dark: #4e4e4e;
  --boxes: #5f5f5f;

  --accent-light-yel: #ffc000;
  --accent-dark-yel: #dfa700;
  --accent-orange: #ff8200;
  /*---- keep----*/
}

body {
  background-color: var(--neutral-dark);
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;
  color: #fff;
}

span {
  color: var(--accent-orange);
}

input {
  background-color: var(--accent-orange) !important;
  border-color: var(--accent-orange) !important;
  color: #fff !important;
}

/* Reintroduce later */
